<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
# get matplot to show charts inline
%matplotlib inline

chrome://settings/content/cookies

NOTE: Make sure third party cookies are not blocked.

In [ ]:
# from google.colab import files
# uploaded = files.upload()

# import io
# df = pd.read_csv(io.BytesIO(uploaded["Employee-attrition.csv"]))
df = pd.read_csv("Employee-attrition.csv")

In [ ]:
print(df.head())

In [ ]:
df.tail()

# Accessing the main DataFrame components

In [22]:
columns = df.columns
index = df.index
data = df.values

<class 'numpy.ndarray'>

In [15]:
columns

Index(['EmployeeID', 'recorddate_key', 'birthdate_key', 'orighiredate_key',
       'terminationdate_key', 'age', 'length_of_service', 'city_name',
       'department_name', 'job_title', 'store_name', 'gender_short',
       'gender_full', 'termreason_desc', 'termtype_desc', 'STATUS_YEAR',
       'STATUS', 'BUSINESS_UNIT'],
      dtype='object')

In [16]:
index

RangeIndex(start=0, stop=49653, step=1)

In [17]:
data

array([[1318, '12/31/2006 0:00', '1/3/1954', ..., 2006, 'ACTIVE',
        'HEADOFFICE'],
       [1318, '12/31/2007 0:00', '1/3/1954', ..., 2007, 'ACTIVE',
        'HEADOFFICE'],
       [1318, '12/31/2008 0:00', '1/3/1954', ..., 2008, 'ACTIVE',
        'HEADOFFICE'],
       ...,
       [8279, '12/1/2015 0:00', '7/18/1994', ..., 2015, 'TERMINATED',
        'STORES'],
       [8296, '12/1/2013 0:00', '9/2/1994', ..., 2013, 'TERMINATED',
        'STORES'],
       [8321, '12/1/2014 0:00', '11/28/1994', ..., 2014, 'TERMINATED',
        'STORES']], dtype=object)

# 1. Understanding Data Types

#### 1.A Find Shape of Data Frame

In [23]:
# A:
df.shape

(49653, 18)

#### 1.B Find Data Tyeps of Data Frame

In [24]:
# A:
type(df)

pandas.core.frame.DataFrame

#### 1.C Find Number of Data Types in a Data Frame



```
Expected Output:
int64      5
object    13
dtype: int64
```

#### 1.D Use Info

Use info and explore difference.

In [31]:
# A:
df.dtypes.value_counts()

object    13
int64      5
dtype: int64

# 2. Selecting Column in Data Frame

#### 2.A Check Values of Job_Title column

In [35]:
# A:
df[['job_title']]

          job_title
0               CEO
1               CEO
2               CEO
3               CEO
4               CEO
...             ...
49648  Dairy Person
49649       Cashier
49650       Cashier
49651       Cashier
49652       Cashier

[49653 rows x 1 columns]

#### 2.B Find How Many Rows Are in Each Job Title



```
# Expected Output
Meat Cutter                        9984
Dairy Person                       8590
Produce Clerk                      8237
.
.
.
```

In [41]:
# A:
df.groupby('job_title')['job_title'].nunique()

job_title
Accounting Clerk                   1
Accounts Payable Clerk             1
Accounts Receiveable Clerk         1
Auditor                            1
Baker                              1
Bakery Manager                     1
Benefits Admin                     1
CEO                                1
CHief Information Officer          1
Cashier                            1
Compensation Analyst               1
Corporate Lawyer                   1
Customer Service Manager           1
Dairy Manager                      1
Dairy Person                       1
Director, Accounting               1
Director, Accounts Payable         1
Director, Accounts Receivable      1
Director, Audit                    1
Director, Compensation             1
Director, Employee Records         1
Director, HR Technology            1
Director, Investments              1
Director, Labor Relations          1
Director, Recruitment              1
Director, Training                 1
Exec Assistant, Finance            1
Exec Assistant, Human Resources    1
Exec Assistant, Legal Counsel      1
Exec Assistant, VP Stores          1
HRIS Analyst                       1
Investment Analyst                 1
Labor Relations Analyst            1
Legal Counsel                      1
Meat Cutter                        1
Meats Manager                      1
Processed Foods Manager            1
Produce Clerk                      1
Produce Manager                    1
Recruiter                          1
Shelf Stocker                      1
Store Manager                      1
Systems Analyst                    1
Trainer                            1
VP Finance                         1
VP Human Resources                 1
VP Stores                          1
Name: job_title, dtype: int64

#### 2.C [BONUS] Write A Function to Row Count



```
def row_count(column_name):
    number_of_rows = 0
    return number_of_rows
```

#### 2.D Describe 'Age'

Find count,  mean,  std, min, max of column 'age'

In [ ]:
# A:
df

##### 2.E [BONUS] Describe 'All Numeric Columns of Data Frame

Find count, mean, std, min, max of of all columns of dataframe

In [ ]:
# A:

# 3. Making The Index Meaningful

In [ ]:
# A:

#### 3.A Find A Specifc Row Using Index

In [ ]:
# A:

#### 3.B Sort Data Frame using Index

In [ ]:
# A:

#### 3.C [BONUS] Sort Data Frame using Age

In [ ]:
# A:

#### 3.D [BONUS] Using Sample Select Any Row

In [ ]:
# A:

# 4. Query Data Frame

#### 4.A Find Rows Where Job_Title is CEO

In [ ]:
# A:

#### 4.B Group By Age

In [ ]:
# A:

# 5. Visualization

> Indented block



#### 5.A Plot Histogram of Age

In [1]:
# A:

#### 5.B BoxPlot of Age

In [ ]:
# A:

#### 5.C Scatterplot of age and length_of_service

In [ ]:
# A:

#### 5.D Plot Histogram of store_name

In [ ]:
# A:

#### 5.E Print Statistical Summary of Age

In [ ]:
# A:



---



---



> > > > > > > > > © 2019 Institute of Data


---



---